h1 {
  color: white;
  background-color: black;
}

body {
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 3fr 2.5fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
  align-items: center;
  justify-items: center;

  margin: auto;
}

.board-container {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  height: 90%;
  aspect-ratio: 1/1;
}

.row {
  display: flex;
  justify-items: center;
  align-items: center;
}

.board-field {
  cursor: pointer;
  border: 0.5px solid gray;
  width: 100%;
  height: 100%;
}

.ship {
  background-color: black;
}

.miss {
  background-color: blue;
}

.hit {
  background-color: red;
}

.userBoard {
  pointer-events: none;
  grid-row: 3;
  grid-column: 2;
}

.userBoard::before {
  content: 'You';
  top: -1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.enemyBoard {
  grid-column: 2;
}

.enemyBoard::before {
  content: 'Enemy';
  top: -1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
