h1 {
  color: white;
  background-color: black;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}

.board-container {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  aspect-ratio: 1/1;
}

.row {
  display: flex;
  justify-items: center;
  align-items: center;
}

.board-field {
  cursor: pointer;
  border: 0.5px solid gray;
  width: 100%;
  height: 100%;
}

.ship {
  background-color: black;
}

.miss {
  background-color: blue;
}

.hit {
  background-color: red;
}

.player1 {
  pointer-events: none;
  height: 300px;
}

.player1::before {
  top: -1rem;
  position: absolute;
  content: 'Player 1';
}

.player2 {
  height: 500px;
}

.player2::before {
  top: -1rem;
  position: absolute;
  content: 'Player 2';
}
