h1 {
  color: white;
  background-color: black;
}

body {
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 3fr 2.5fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
  align-items: center;
  justify-items: center;

  margin: auto;
}

.gameboard {
  position: relative;
  grid-column: 1/-1;
  width: 100%;
  height: 90%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;

  justify-items: center;
  align-items: center;

  grid-row: 3;
}

.board-container {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  border: 1rem solid gray;
  border-radius: 1rem;

  height: 85%;
  aspect-ratio: 1/1;
}

.board-ships {
  grid-column: 1;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  gap: 0.25rem;
}

.row {
  display: flex;
  justify-items: center;
  align-items: center;
}

.board-field {
  cursor: pointer;
  border: 0.5px solid gray;
  width: 100%;
  height: 100%;
}

.ship {
  background-color: darkgreen;
}

.ship-storage {
  display: flex;
  width: fit-content;
  gap: 1px;

  border: 1px solid whitesmoke;
  border-radius: 1rem;
}

.ship-block {
  aspect-ratio: 1/1;
  background-color: darkgreen;
  height: 35px;
}

.miss {
  background-color: blue;
}

.hit {
  background-color: red;
}

/* USER */
.gameboard.userBoard {
  grid-row: 3;
}

.userBoard::before {
  content: 'You';
  top: -1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* ENEMY */

.gameboard.enemyBoard {
  grid-row: 2;
}

.enemyBoard::before {
  content: 'Enemy';
  top: -1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
